*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: beige;
    color: black;
    line-height: 2rem;
}
header{
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    
}
nav a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1.2rem;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 1.2rem;
    bottom: 0;
    width: 100%;
    position: relative;
    color: white ;
    background-color: blueviolet;
    font-size: 1.5rem;
    font-weight: bold;
}
section{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;

}
.intro{
    background-color: rgb(163, 119, 203);
    text-align: center;
    padding: 60px 30px;
     box-shadow: 0 8px 20px black;
}
.intro h1{
    font-size:2.5rem;
    margin-bottom: 10px;
    
    color:black;

}
.intro p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}
.card{
    background-color: rgb(163, 119, 203);
    text-align: center;
    padding: 60px 30px;
    box-shadow: 0 8px 20px black;
    border-radius: 1rem;
}
.card h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black;
}
.card p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}
.project-section .section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
    margin-top: 1.5rem;
}
.project-card{
    background-color: rgb(191, 150, 229);
    border-radius: 1rem;
    box-shadow: 0 8px 20 px black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-card:hover{
    transform: translateY(-10px);
     box-shadow: 0 8px 20 px black;
}
.project-image{
    width:100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid black;
}
